.button {
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-background-radius: 20;
    -fx-background-color: #DCD5F1;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-border-color: #FFFFFF
}

.button:hover{
    -fx-background-color: #CBBDF3;
}

.button:pressed{
    -fx-background-color: #B6A2F0;
}